useDynLib(fastshp, shp_centroids, shp_inside, shp_closest, read_shp, merge_pts, C_poly_op, C_bboxes, C_expand_vec, C_atag, C_thin)
export(read.shp, thin, inside, thin.shp, centr, polygons.op, bbox.filter, clip.shp, polypath.shp, plot.shp)
